<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-left">
        <h1>
          THE JOURNEY <br />
          HAS ONLY <br />
          JUST BEGUN.
        </h1>
      </div>
      <div class="footer-center">
        <button class="partner-btn">BECOME A PARTNER</button>
        <div class="footer-links">
          <a href="#"><img src="./images/icons/journeyicon.png" alt="" /></a>
          <a href="#"><img src="./images/icons/resultsicon.png" alt="" /></a>
          <a href="#"><img src="./images/icons/galleryicon.png" alt="" /></a>
          <a href="#"><img src="./images/icons/abouticon.png" alt="" /></a>
          <a href="#"><img src="./images/icons/partnersicon.png" alt="" /></a>
          <a href="#"><img src="./images/icons/contacticon.png" alt="" /></a>
        </div>
      </div>
      <div class="footer-right">
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        © 2026 Levan Gelashvili <br />
        Designed & Developed by Levan Gelashvili
      </p>
    </div>
  </div>
</footer>
